:root {
  --section-margin-general: ;
  --section-margin-980: ;
  --section-margin-768: ;
  --section-margin-575: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "amatic+SC", "Assistant", "Raleway";
}

.borderized {
  border: solid 2px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  background-color: #fff;
}

header {
  display: flex;
  height: 70px;
  background-color: #fef9c7;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 5px rgb(66, 65, 65);
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 70px;
  padding: 10px;
}

header ul {
  display: flex;
}

header li {
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 10px;
  list-style-type: none;
  font-size: 20px;
  /* border: solid 2px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  background-color: #fff; */
}

header li a {
  text-decoration: none;
  font-weight: bold;
  color: #3ab37c;
}

header li a:hover {
  text-shadow: 0 0 15px rgb(232, 108, 56);
}

.hero {
  background-color: #fef9c7;
  display: flex;
  height: 700px;
  width: 100%;

  /* background-image: url("../images/arizona1111.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; */
}

.hadas {
  font-size: 60px;
}

.hero img {
  width: 100%;
  height: 75vh;
  position: absolute;
  box-shadow: 0 0 8px 8px white inset;
  z-index: 1;
  opacity: 0.8;
}

.hero p {
  font-size: 40px;
  margin-top: 5%;
  margin-left: 5%;
  color: #f7e84a;
  z-index: 2;
  padding: 0;
}

.projects {
  padding: 30px 0;
  /* height: 600px; */
  background-color: #9fedd7;
}

.project-display {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

.projects h1 {
  font-size: 40px;
  color: black;
  /* border: solid 2px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  background-color: #fff; */
  display: inline-block;
  padding: 5px 10px;
  justify-content: center;
  margin: 0 20px 25px 20px;
}

.project-display img {
  /* max-width: 400px; */
  width: 25vw;
  height: auto;
  padding: 0;
  margin: 25px 20px;
  transition: transform 0.2s;
  box-shadow: 5px 5px 5px grey;
}

.project-display img:hover {
  transform: scale(1.3);
  z-index: 2;
}

.project1,
.project2,
.project3 {
  text-align: center;
}

.contact {
  padding: 30px 0;
  background-color: #e7d8c9;
  padding: 70px 0;
  height: 400px;
}

.personal {
  padding: 70px 0;
  background-color: #026670;
  height: 600px;
}

.personal h2 {
  font-size: 40px;
  /* border: solid 2px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  background-color: #fff; */
  display: inline-block;
  padding: 5px 10px;
  margin: 0 20px 25px 20px;
}

.about-me {
  display: flex;
}

.about-me img {
  border-radius: 15%;
  margin: 0 20px 25px 20px;
  height: 200px;
  width: auto;
}

.about-me p {
  margin: 0 0 25px 25px;
  color: #fff;
}

.cv {
  padding: 70px 0;
  /* height: 75vh; */
  background-color: #fce181;
}

.cv h2 {
  font-size: 40px;
  /* border: solid 2px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  background-color: #fff; */
  display: inline-block;
  padding: 5px 10px;
  margin: 0 20px 25px 20px;
}

.other-stuff {
  margin: 0 0 35px 20px;
  display: flex;
}

.work-experience {
  flex-grow: 2;
}

.education,
.volunteer-work {
  flex-grow: 1;
  padding: 15px;
}

.social img {
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
  .hero {
    height: 500px;
  }

  .hero img {
    height: 500px;
    width: auto;
  }

  .hero p {
    font-size: 28px;
  }

  .projects {
    padding: 20px 15px;
  }

  .project-display {
    justify-content: space-between;
  }

  /* .project1,
  .project2,
  .project3 {
    width: 20%;
  } */

  .cv h2 {
    font-size: 39px;
  }
}

@media screen and (max-width: 575px) {
  * {
    /* background-size: cover; */
  }

  ul {
    display: none;
  }
  .hero {
    height: 350px;
    width: 100%;
  }

  .hero img {
    height: 350px;
    width: 100vw;
  }
  .project-display {
    flex-direction: column;
  }
  .project-display img {
    width: 75vw;
  }
}
